# AIVLE스쿨 1차 미니프로젝트: 서울시 생활정보 기반 대중교통 수요 분석

<img src = "https://github.com/Jangrae/img/blob/master/cafe.png?raw=true" width=800, align="left"/>

- 본 과정에서는 실제 사례와 데이터를 기반으로 문제를 해결하는 전체 과정을 자기 주도형 실습으로 진행해볼 예정입니다.
- 앞선 교육과정을 정리하는 마음과 지금까지 배운 내용을 바탕으로 문제 해결을 해볼게요!
- 미니 프로젝트를 통한 문제 해결 과정 'A에서 Z까지', 지금부터 시작합니다!

# [미션 4] 구별 업종등록 데이터 분석

### 로컬 수행(Anaconda)
- project 폴더에 필요한 파일들을 넣고, 본 파일을 열었다면, 별도 경로 지정이 필요하지 않습니다.

In [22]:
# 기본 경로
path = ''

### 구글 콜랩 수행

- 구글 콜랩을 사용중이면 구글 드라이브를 연결합니다.

In [24]:
# 구글 드라이브 연결, 패스 지정
import sys
if 'google.colab' in sys.modules:
    from google.colab import drive
    drive.mount('/content/drive')
    path = '/content/drive/MyDrive/project/'

### 한글 폰트 표시를 위해 설치합니다.

In [26]:
# 한글 표시를 위한 라이브러리 설치
!pip install koreanize_matplotlib -q

### 필요한 라이브러리를 불러옵니다.

In [28]:
# 라이브러리 불러오기
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import koreanize_matplotlib
import warnings

warnings.filterwarnings(action='ignore')
%config InlineBackend.figure_format='retina'

In [29]:
# 폰트 설정
import matplotlib.pyplot as plt
import matplotlib.font_manager as fm

# 한글 폰트 설정 (예: NanumGothic)
font_path = 'C:\\Windows\\Fonts\\malgun.ttf'   # 폰트 파일 경로
fontprop = fm.FontProperties(fname=font_path, size=12)
plt.rc('font', family=fontprop.get_name())

### 기본 데이터: 1.4 seoul_business_type.csv

- 서울 시 구별 등록 업종 상위 10개 데이터(제공 가능한 최신 버전)
    - 택시 운송업 (개인택시 등록자 주거지)
    - 한식일반음식점업
    - 용달 화물자동차 운송업(개인용달 등록자 주거지)
    - 부동산 중개 및 대리업
    - 두발미용업
    - 커피전문점
    - 남녀용 겉옷 및 셔츠 도매업
    - 기타주점업
    - 일반 교과 학원
    - 한식 육류요리 전문점

---

# 1. 데이터 불러오기

- 분석 대상 데이터를 불러와 데이터프레임으로 선언합니다.

### [참고] 데이터 프레임을 불러오고 변수로 저장(CSV 기준으로 진행)

- csv: pd.read_csv('파일이름.csv')
- txt: pd.read_csv('파일이름.csv', sep='구분자')
- xlsx: pd.read_excel('파일이름.xlsx')
- pickle: pd.read_pickle('파일이름.pkl')

## [실습1] 데이터 불러오기

- 대상 파일: 1.4 seoul_business_type.csv
- 불러온 데이터는 seoul_business 데이터프레임으로 선언하세요.
- 데이터 불러올 때 참고할 사항 
    - 구분자(sep)는 ',' 입니다
    - UTF-8 인코더를 사용해 주세요

In [35]:
seoul_business = pd.read_csv(path + '1.4 seoul_business_type.csv', sep=',', encoding='UTF-8')
seoul_business.to_csv(path + 'df_seoul_business2.csv', index=False)

In [36]:
# 데이터 불러오기
seoul_business = pd.read_csv(path + '1.4 seoul_business_type.csv', sep=',', encoding='UTF-8')

# 확인
seoul_business

,자치구,택시운송업,한식 일반 음식점업,용달 화물자동차 운송업,부동산 중개 및 대리업,두발미용업,커피전문점,남녀용 겉옷 및 셔츠 도매업,기타주점업,일반 교과 학원,한식 육류요리 전문점
0,종로구,215,5912,646,889,480,3613,962,1413,382,1982
1,중구,235,6414,333,1152,816,3542,24248,982,175,2121
2,용산구,523,2987,466,1214,777,2076,317,1332,573,1184
3,성동구,2527,2785,1161,1453,851,1859,1572,621,1494,1545
4,광진구,1744,2861,985,1313,1337,1887,687,1577,1646,1678
5,동대문구,2093,3566,1456,1208,891,1472,976,1082,984,1509
6,중랑구,6262,2479,1877,1104,1108,1037,284,1000,1045,1504
7,성북구,2643,2822,1335,1175,1245,1384,454,1030,1755,1334
8,강북구,2589,2663,1030,867,997,1095,94,1275,740,1176
9,도봉구,5783,2009,1574,794,847,837,43,477,1162,943
10,노원구,6074,2650,1736,1053,1353,1748,123,844,3281,1557
11,은평구,4430,2585,1349,1614,1443,1296,74,925,1793,1639
12,서대문구,2677,2694,808,956,1185,1323,68,1127,1268,1088
13,마포구,1838,4705,829,1903,2042,4475,1209,2559,1855,2928
14,양천구,4942,2800,1293,1364,1428,1375,52,851,5804,1111
15,강서구,6922,4584,1862,2352,1751,2530,700,1709,2347,2274
16,구로구,3817,3215,1351,1213,1134,1384,923,1165,1111,1496
17,금천구,2598,2619,997,1381,715,1215,2575,685,487,1042
18,영등포구,2397,6476,1429,1566,1261,3295,1220,1489,1082,2151
19,동작구,1115,2322,844,1483,1105,1628,199,955,1463,1177
20,관악구,2027,3689,1600,2136,1604,2049,190,1672,1230,1628
21,서초구,903,6712,411,2758,1832,3897,1563,1255,3812,2338
22,강남구,2517,11486,487,6508,6255,7273,8320,2528,9020,5008
23,송파구,4850,5760,1931,3190,2328,3372,2830,1469,4160,2781
24,강동구,4980,3388,1566,1990,1429,1660,1433,1349,2104,1459

---

# 2. 기본 정보 확인 및 전처리

- 분석 대상 테이터를 탐색하고 적절한 전처리를 수행합니다.

## [실습2] 기본 정보 확인

- seoul_business 데이터프레임 정보를 확인하세요.
- head(), tail(), info(), describe() 메서드 등을 활용해 보세요.

In [40]:
# tail() 메서드로 하위 데이터 확인
seoul_business.tail()

,자치구,택시운송업,한식 일반 음식점업,용달 화물자동차 운송업,부동산 중개 및 대리업,두발미용업,커피전문점,남녀용 겉옷 및 셔츠 도매업,기타주점업,일반 교과 학원,한식 육류요리 전문점
20,관악구,2027,3689,1600,2136,1604,2049,190,1672,1230,1628
21,서초구,903,6712,411,2758,1832,3897,1563,1255,3812,2338
22,강남구,2517,11486,487,6508,6255,7273,8320,2528,9020,5008
23,송파구,4850,5760,1931,3190,2328,3372,2830,1469,4160,2781
24,강동구,4980,3388,1566,1990,1429,1660,1433,1349,2104,1459

In [41]:
# info() 메서드로 열 이름, 데이터 개수, 데이터 형식 등 확인
seoul_business.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   자치구              25 non-null     object
 1   택시운송업            25 non-null     int64
 2   한식 일반 음식점업       25 non-null     int64
 3   용달 화물자동차 운송업     25 non-null     int64
 4   부동산 중개 및 대리업     25 non-null     int64
 5   두발미용업            25 non-null     int64
 6   커피전문점            25 non-null     int64
 7   남녀용 겉옷 및 셔츠 도매업  25 non-null     int64
 8   기타주점업            25 non-null     int64
 9   일반 교과 학원         25 non-null     int64
 10  한식 육류요리 전문점      25 non-null     int64
dtypes: int64(10), object(1)
memory usage: 2.3+ KB

In [42]:
# describe() 메서드로 기술통계정보 확인
seoul_business.describe()

,택시운송업,한식 일반 음식점업,용달 화물자동차 운송업,부동산 중개 및 대리업,두발미용업,커피전문점,남녀용 겉옷 및 셔츠 도매업,기타주점업,일반 교과 학원,한식 육류요리 전문점
count,25.000000,25.00000,25.000000,25.00000,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000
mean,3068.040000,4007.32000,1174.240000,1705.44000,1448.560000,2292.880000,2044.640000,1254.840000,2030.920000,1786.120000
std,1963.159772,2132.72849,482.591639,1163.42057,1090.730645,1452.869383,4921.994987,502.206936,1952.686246,854.764359
min,215.000000,2009.00000,333.000000,794.00000,480.000000,837.000000,43.000000,477.000000,175.000000,943.000000
25%,1838.000000,2663.00000,829.000000,1152.00000,891.000000,1375.000000,190.000000,955.000000,1045.000000,1184.000000
50%,2589.000000,2987.00000,1293.000000,1364.00000,1245.000000,1748.000000,700.000000,1165.000000,1463.000000,1545.000000
75%,4850.000000,4705.00000,1566.000000,1903.00000,1443.000000,3295.000000,1433.000000,1469.000000,2104.000000,2121.000000
max,6922.000000,11486.00000,1931.000000,6508.00000,6255.000000,7273.000000,24248.000000,2559.000000,9020.000000,5008.000000

## [실습3] 주요 업종 선택

- 대중교통 이동수요가 높을 것으로 예상되는 업종, 종사자수가 많은 업종만을 선택합니다.
- 단, '자치구' 열은 꼭 포함해야 합니다.
    - 예: '자치구', '한식 일반 음식점업', '커피전문점', '기타주점업' 
- seoul_business 데이터프레임이 위에서 선택한 열만 갖도록 변경하세요.

In [44]:
# 대중교통 이동수요가 높을 것으로 예상되는 업종, 종사자수가 많은 업종
# df = df[['열1', '열2', '열3']] 형태의 구문 사용
seoul_business = seoul_business[['자치구','커피전문점','기타주점업','일반 교과 학원']]

# 확인
seoul_business

     자치구  커피전문점  기타주점업  일반 교과 학원
0    종로구   3613   1413       382
1     중구   3542    982       175
2    용산구   2076   1332       573
3    성동구   1859    621      1494
4    광진구   1887   1577      1646
5   동대문구   1472   1082       984
6    중랑구   1037   1000      1045
7    성북구   1384   1030      1755
8    강북구   1095   1275       740
9    도봉구    837    477      1162
10   노원구   1748    844      3281
11   은평구   1296    925      1793
12  서대문구   1323   1127      1268
13   마포구   4475   2559      1855
14   양천구   1375    851      5804
15   강서구   2530   1709      2347
16   구로구   1384   1165      1111
17   금천구   1215    685       487
18  영등포구   3295   1489      1082
19   동작구   1628    955      1463
20   관악구   2049   1672      1230
21   서초구   3897   1255      3812
22   강남구   7273   2528      9020
23   송파구   3372   1469      4160
24   강동구   1660   1349      2104

- seoul_business 데이터프레임을 df_seoul_business.csv 파일로 저장하세요.

In [46]:
# csv 파일로 저장 (파일명: df_seoul_business.csv)
# 참고: to_csv() 메서드를 사용, index=False 지정 
seoul_business.to_csv(path + 'df_seoul_business.csv', index=False)

---

# 3. 데이터 분석

- 다양한 분석 과정을 통해 인사이트를 도출하세요.

## [실습4] 시각화 분석

- 다양한 열를 기준으로 그래프를 그려보고 인사이트를 도출해보세요.

In [50]:
# 주석

In [51]:
# 주석

In [52]:
# 주석

In [53]:
# 위 차트를 통해 알게된 사실을 정리해 보세요.